@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  all: unset;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $white;
  -webkit-text-size-adjust: 100%;
  font-family: "PT Sans Narrow", sans-serif;
  text-rendering: optimizeSpeed;
}

.main-enter-active {
  transition: opacity 1s ease-out;
}

.main-enter-from {
  opacity: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.icon {
  width: 1.5rem;
}



