@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  all: unset;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $white;
  -webkit-text-size-adjust: 100%;
  font-family: "PT Sans Narrow", sans-serif;
  text-rendering: optimizeSpeed;
}

.main-enter-active {
  transition: opacity 1s ease-out;
}

.main-enter-from {
  opacity: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.icon {
  width: 1.5rem;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-icon {
  width: 2rem;
}

.plain-text {
  font-size: 1.3rem;
  font-family: "Arial", 'sans-serif';
  color: $grey;
}

.header-text {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue;
}

.small-header {
  font-size: 2rem;
  font-weight: bold;
  color: $black;
}


@media (min-width: 500px) {
  .icon {
    width: 2rem;
  }

  .header-icon {
    width: 3rem;
  }

  .plain-text {
    font-size: 2rem;
  }

  .header-text {
    font-size: 3.5rem;
  }

  .small-header {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .header-icon {
    width: 4rem;
  }

  .header-text {
    font-size: 4.5rem;
  }

  .small-header {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .header-icon {
    width: 5rem;
  }

  .header-text {
    font-size: 4rem;
  }

  .small-header {
    font-size: 3rem;
  }
}


