$blue: #001F62;
$light-violet: #C3D6FB;
$light-blue: #B7CAD2;
$red: #870000;
$green: #005F73;
$emerald: #06D6A0;
$black: #131313;
$light-grey: #8B97AF;
$light-green: #e9edc9;
$grey: #7C7B7BFF;


//new variables
$base: #FFFFFA;
$secondary2: #33415c;
$secondary1: rgba(139, 151, 175, 0.41);
$secondary3: rgb(23, 23, 23);
$primary3: #03045e;
$primary2: #3A76F5;
$primary1: #8ecae6;
$primary0: rgba(237, 246, 249, 1.2);
$accent1: rgba(255, 183, 3, 1);
$accent2: #3BA99C;